version: 1.0
app:
  # build id to deploy
  # version: 1.0-SNAPSHOT-20230716015630
  # number of instances
  instances:
    # q: consider availability zones? 

    # min number of instances. can be 0 for scale to 0. default to 1.
    min: 1
    # max number of instances. defaults to 1 if min == 0, otherwise defaults to min
    # q: what's the overall limit?
    max: 2
  resources:
    # max cpu, defaults to 1 cpu limit, half of that for min, min >= 1
    # q: what's the overall limit?
    # q: do we support fractions?
    cpu: 1
    # memory limit is based on cpu value: 1:3 memory ratio, e.g. 1 cpu == 3 gb
    # ephemeral disk limit will be set to 1GB  
  # List of environment variables that set for the application
  # Liberty encrypted values are supported only if referenced in server.xml
  env:
    - name: JVM_ARGS # q: make that as a top level 'jvmArguments' property?
      value: "-DenvironmentType=stage"
#    - name: OTEL_EXPORTER_OTLP_ENDPOINT
#      value: "http://otel-collector.fmhwong-0712.svc.cluster.local:4317"
#    - name: OTEL_TRACES_EXPORTER
#      value: "none"
#    - name: OTEL_METRIC_EXPORT_INTERVAL
#      value: "1000"
#    - name: OTEL_SDK_DISABLED
#      value: "false"
  # List of variables that can be referenced in server.xml
  # Liberty encrypted values are supported
  variables:
    - name: io_openliberty_sample_system_inMaintenance
      value: "false"
  version: "d186d705-8d9a-4b83-bc66-a7e56175e933"
# probes
# dynamic scaling
# scaling to 0
